<app-header></app-header>
<section class="page-hero-section">
    <div class="page-hero-image">
        <img src="../../assets/about/about-hero-image.jpg" alt="">
    </div>
    <div class="hero-content text-shadow">
        <h3>- About Us -</h3>
        <h2>Building with integrity. Growing with purpose.</h2>

    </div>
    <app-scrolldown class="h-scrolldown page-scrolldown" (click)="scroller()"></app-scrolldown>
</section>

<section class="a-section-2" id="a-section-2">
    <div class="section-content contain">
        <div class="about-years">
            <h2>More than 30 years in the real estate market
            </h2>
            <p class="pl">Balaji Real Estate has been creat
                ng and constructing the most complex and unique projects,
                significant for Moscow, for 30 years and solving complex
                urban planning problems. A recognized leader in the
                construction of business, premium and elite housing,
                multifunctional complexes and skyscrapers.</p>
            <p class="pl">Balaji Real is a recognized leader in the construction of
                business, elite and premium class housing, as well as the
                construction of skyscrapers. Projects include high-tech
                buildings up to 445 meters high with unique original
                architecture and 50,000 m2 of cultural heritage objects
                under restoration.</p>
            <p class="pl">The company is an active participant in city programs and makes a significant
                contribution to the creation of an integrated urban environment:
                within the framework of projects, it implements social facilities,
                including schools and kindergartens, and creates places of
                employment. Implements large-scale projects for the integrated
                development of territories</p>
        </div>

        <div class="about-collage-container">

            <div class="image-collage">
                <div class="image-collage-inner">
                    <img src="../../../assets/about/about-collage-1.jpg" alt="">
                    <img src="../../../assets/about/about-collage-2.jpg" alt="">
                    <img src="../../../assets/about/about-collage-3.jpg" alt="">
                    <img src="../../../assets/about/about-collage-4.jpg" alt="">
                    <img src="../../../assets/about/about-collage-5.jpg" alt="">
                    <img src="../../../assets/about/about-collage-6.jpg" alt="">
                    <img src="../../../assets/about/about-collage-7.jpg" alt="">
                    <img src="../../../assets/about/about-collage-8.jpg" alt="">
                    <img src="../../../assets/about/about-collage-9.jpg" alt="">
                    <img src="../../../assets/about/about-collage-10.jpg" alt="">
                    <img src="../../../assets/about/about-collage-11.jpg" alt="">
                    <img src="../../../assets/about/about-collage-12.jpg" alt="">
                    <img src="../../../assets/about/about-collage-13.jpg" alt="">
                    <img src="../../../assets/about/about-collage-14.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- <div class="gold-block"></div> -->
        <div class="quote">
            <h2> Doing right by those who trust</h2>
            <h2> isn’t a strategy — it’s the only</h2>
            <h2> way we know how to work.</h2>
        </div>
    </div>

</section>

<!-- section 3 -->

<section class="page-hero-section">
    <div class="layer-dark-1"></div>
    <div class="page-hero-image">
        <img src="../../../assets/about/danube-breeze-f-img-1.jpg" alt="">
    </div>

    <div class="hero-content">
        <h1>BUILT TOGETHER</h1>
        <h4 class="width-100">At Balaji Real Estate, we build
            on shared vision and sustainable growth. We're
            experts at development, construction and property
            management, with a track record of delivering
            successful real estate projects.</h4>

    </div>
</section>

<section class="a-section-4 contain">
    <div class="content-container">
        <h2>The team</h2>
    </div>
</section>


<app-footer></app-footer>