<app-header></app-header>
<section class="page-hero-section">
    <div class="page-hero-image">
        <img src="../../assets/about/about-hero-image.jpg" alt="">
    </div>
    <div class="hero-content">
        <h3>- About Us -</h3>
        <h2>Building with integrity. Growing with purpose.</h2>

    </div>
    <app-scrolldown class="h-scrolldown page-scrolldown" (click)="scroller()"></app-scrolldown>
</section>

<section class="a-section-2 ">
    <div class="section-content contain">
        <h2> Doing right by those who trust</h2>
        <h2> isn’t a strategy — it’s the only</h2>
        <h2> way we know how to work.</h2>
    </div>
    <div class="about-collage-container">

        <div class="image-collage">
            <div class="image-collage-inner">
                <img src="../../../assets/about/about-collage-1.jpg" alt="">
                <img src="../../../assets/about/about-collage-2.jpg" alt="">
                <img src="../../../assets/about/about-collage-3.jpg" alt="">
                <img src="../../../assets/about/about-collage-4.jpg" alt="">
                <img src="../../../assets/about/about-collage-5.jpg" alt="">
                <img src="../../../assets/about/about-collage-6.jpg" alt="">
                <img src="../../../assets/about/about-collage-7.jpg" alt="">
                <img src="../../../assets/about/about-collage-8.jpg" alt="">
                <img src="../../../assets/about/about-collage-9.jpg" alt="">
                <img src="../../../assets/about/about-collage-10.jpg" alt="">
                <img src="../../../assets/about/about-collage-11.jpg" alt="">
                <img src="../../../assets/about/about-collage-12.jpg" alt="">
                <img src="../../../assets/about/about-collage-13.jpg" alt="">
                <img src="../../../assets/about/about-collage-14.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="gold-block"></div>
</section>




<app-footer></app-footer>