.c-hero-section {
    padding-top: 120px;
    padding-bottom: 186px;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 96px 96px;
    background-color: var(--golden-60);
}

.left-container>.content {
    padding: 0px 0px 64px 0px;
}

.left-container>.content h2 {
    padding: 0px 0px 32px 0px;
}

.connect-container {
    display: grid;
    grid-template-areas:
        "call email"
        "address address";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    // white-space: nowrap;
    
}

.connect-container div{
    border: 1px solid var(--white-90);
    border-radius: 6px;
    background-color: var(--white-100);
     transition: all 0.3s ease-in-out 0s;
}
.connect-container div:hover{
    background: var(--golder-90);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.12);
}

.connect-container img{
    width: 60px;
}


.call-us {
    grid-area: call;
    background-color: var(--white-100);
}

.connect-container h3 {
    padding: 16px 0px 0px 0px;
}

.connect-container .p1 {
    padding: 0px 0px 0px 0px;
    color: var(--black-60);
    margin: 0px 0px 0px 0px;
}

.email-us {
    grid-area: email;
    background-color: var(--white-100);
}

.address {
    grid-area: address;
    background-color: var(--white-100);
}

.call-us {
    padding: 40px;
}

.email-us {
    padding: 40px;
}

.address {
    padding: 40px;
}

.right-container {
    background-color: var(--white-100);
    padding: 64px;
    border: 1px solid var(--white-90);
    border-radius: 6px;
}

.right-container p {
    padding: 32px 0px 48px 0px;
}


// form
label {
    color: var(--black-90);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    height: 60px;
    margin: 5px 0;
    border: 1px solid var(--white-50);
    box-sizing: border-box;
    margin: 8px 0px 32px 0px;
    font-size: 16px;
    background-color: transparent;
    color: black;
}


input[type="submit"] {
    min-width: 208px;
    height: 60px;
    border: 2px solid var(--black-80) !important;
    background-color: var(--white-100);
    transition: all 0.5s cubic-bezier(.42, 0, .58, 1);
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 17px;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    background: var(--primary-red);
    color: var(--white-100);
}


@media screen and (max-width: 1600px) {

    .c-hero-section {
        grid-template-columns: 1fr 1fr;
        gap: 64px 64px;
    }

    .right-container p {
        padding: 8px 0px 32px 0px;
    }

    .right-container{
        padding: 48px;
    }

    .call-us,  .email-us, .address  {
    padding: 32px;
}



    // .connect-container {
    //     grid-template-areas:
    //         "call email address";
    //     grid-template-columns: 1fr 1fr 1fr;
    //     grid-template-rows: 1fr;
    // }
}


// map

.c-map-wrapper {
  width: 100%;
  height: 65vh;
  position: relative;
  overflow: hidden;
}

.c-map-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.08);
  pointer-events: none;
}
.map-iframe {
  width: 100%;
  height: 100%;
  border: 0;
  filter: grayscale(10%);
}

@media screen and (max-width: 1400px) {

    .c-hero-section {
        grid-template-columns: 1fr;
        gap: 96px 96px;
    }

    .connect-container {
        grid-template-areas:
            "call email"
            "address address";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .left-container>.content h2 {
    padding: 0px 0px 20px 0px;
}
   .right-container{
        padding: 40px;
    }
}


@media screen and (max-width: 999px) {

    .connect-container {
        grid-template-areas:
        "call call"
        "address address"
        "email email";
    }
    .right-container{
        padding: 40px 32px;
    }
}

@media screen and (max-width: 999px) {

    .c-hero-section {
        gap: 64px 64px;
        padding-top: 120px;
    }

    .call-us, .address, .email-us{
        padding: 32px;
    }

    .left-container .content{
        padding: 0px 0px 40px 0px;
    }

      .right-container{
        padding: 32px;
    }
}

@media screen and (max-width: 500px) {
    input[type="submit"] {
        min-width: 100%;
       
    }
 .call-us, .address, .email-us{
        padding: 20px;
    }
    .right-container{
        padding: 40px 20px;
    }

    .connect-container{
        white-space: normal;
    }

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


// Contact Section 3

.c-section-3{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: var(--golden-100);
    position: relative;
    color: var(--golden-80);
    
        .section-content{
                padding: 200px 0px 200px 0px;
        }

}

