<app-header></app-header>
<section class="page-hero-section">
    <div class="page-hero-image">
        <img src="../../assets/contact/contact-us-hero-image.jpg" alt="">
    </div>
    <div class="hero-content">
        <h3>- Contact Us -</h3>
        <h2>With Balaji Real Estate</h2>

    </div>
    <app-scrolldown class="h-scrolldown page-scrolldown" (click)="scroller()"></app-scrolldown>
</section>

<section class="c-hero-section contain" id="c-section-2">
    <div class="left-container">
        <div class="content">
            <h2>Let's Build Something Together</h2>
            <h4>Whether you're an investor, developer, partner, or future resident, we'd love to hear from you.</h4>
        </div>

        <div class="connect-container">
            <div class="call-us">
                <img src="../../../assets/contact/call-us.svg" alt="">
                <h3>Call Us</h3>
                <p class="ps p1"> Mon-Fri from 9:00 - 18:00 IST</p>

                <a class="ps" href="tel:+0919324088437">
                    <p class="ps p1"> +91 9324088437</p>
                </a>
            </div>
            <div class="email-us">
                <img src="../../../assets/contact/email-us.svg" alt="">
                <h3>Email Us</h3>
                <p class="p p1"> Drop us a mail anytime</p>

                <a href="mailto:hello&#64;balajirealstate.com?subject = Product Support&body = Message">
                    <p class="ps p1">hello&#64;balajirealstate.com</p>
                </a>

            </div>
            <div class="address">
                <img src="../../../assets/contact/address.svg" alt="">
                <h3>Address</h3>
                <p class="ps p1"> See us in Action</p>
                <p class="ps"> 1st Floor, Office No. 33, Veena Smart Homes (SRA),
                    Babrekar Nagar, Charkop, Kandivali (W), Mumbai - 400067
                </p>
            </div>
        </div>
    </div>
    <div class="right-container">
        <h3>Send us a Message</h3>
        <p class="ps">Ready to talk? Just a few clicks stand between us and solving your queries. Fill out the form
            below and let's get this conversation started!</p>
        <div class="c-form">
            <form>
                <label>Full Name</label>
                <input type="text" id="fullname" name="fullname" placeholder="Your full name.." required
                    [(ngModel)]="info.customer_name">

                <label>Email</label>
                <input type="email" id="email" name="email" placeholder="Your email.." required
                    [(ngModel)]="info.customer_email">

                <!-- <label>Mobile Number</label>
                <input type="number" id="number" name="number" placeholder="Your Mobile Number.." required [(ngModel)]="info.customer_mobile_number"> -->

                <label for="subject">Subject</label>
                <input type="text" id="subject" name="subject" placeholder="Subject.." required
                    [(ngModel)]="info.inquiry_subject">

                <label for="message">Message</label>
                <textarea name="message" placeholder="Write something.." style="height:200px" required
                    [(ngModel)]="info.inquiry_message"></textarea>

                <input type="submit" value="Submit >">

            </form>
        </div>
    </div>

</section>

<section class="c-section-3 contain">
    <div class="section-content">
        <h2> We value every connection</h2>
        <h2> Doing right by you is the only way.</h2>
        <h2> We Know - Let's Talk</h2>
    </div>
</section>

<!--Page Nav -->
<section class="h-section-nav-block">

    <div class="about-nav-card">
        <div class="bg-img"><img src="../../../assets/projects/projects-hero-image.jpg" alt=""></div>
        <div class="content">
            <h5>Projects</h5>
            <h2>Explore all our Projects</h2>
            <p>We're all about delivering solutions as unique as you are! With innovation and quality at our core, we're
                here to surpass your expectations.</p>
            <div class="button"> <a href="/projects" class="animated-button white-outlined">Projects</a> </div>
        </div>
    </div>

    <div class="about-nav-card">
        <div class="bg-img"><img src="../../../assets/about/about-hero-image.jpg" alt=""></div>
        <div class="content">
            <h5>ABOUT US</h5>
            <h2>Get to Know Us</h2>
            <p>Ready for a sneak peek into the world of Balaji Real Estate? We are all about Building with integrity.
                Growing with purpose.</p>
            <div class="button"> <a href="/about" class="animated-button white-outlined">ABOUT US</a> </div>
        </div>
    </div>

</section>


<app-footer></app-footer>