.footer {
    width: 100%;
    position: relative;
    height: 45vh;

}

.f-pattern {
    position: absolute;
    width: 100%;
    opacity: 0.6;
}

.f-pattern img{
    object-fit: cover;
    height: 40vh;
    width: 100%;
}

.f-pattern-home{
  position: absolute;
  width: 100%;
  bottom: 0px;
  max-width: 1600px;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
}
.f-pattern-home img{
  width: 100%;
  object-fit: cover;
  width: 100%;
  // left: 50%;
  // transform: translate(-50%);
}

.f-content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    padding: 96px 0px 0px 0px;
    color: var(--white-100);
    width: 80%;
}

.f-content > img{
    padding: 0px 0px 48px 0px;
}


.footer-tagline {
  width: 100%;
  display: flex;
  flex-direction: column;    /* vertical separation */
  align-items: center;       /* horizontal centering */
  text-align: center;
  gap: 16px;
  padding: 0px 0px 32px 0px;
}

/* controlled reading width */
.footer-tagline p {
  margin: 0;
  max-width: 520px;          /* ~9–10 words per line */
}

/* Primary line */
.footer-tagline .headline {
  font-size: 18px;
  font-weight: 500;
  color: var(--white-100);
}

/* Supporting line */
.footer-tagline .subtext {
  font-size: 14px;
  color: var(--white-80);
  line-height: 1.6;
}

.f-content .copyright {
    text-align: center;
    padding: 40px 0px 64px 0px;
    font-size: 16px;
}

.pages {
    color: var(--white-100);
    margin: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
}

.pages span {
    margin: 16px;
    color: white;
    position: relative;
}

/* Vertical divider */
.pages span:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -16px; /* aligns with your margin */
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.4);
}

.pages a {
      position: relative;
  background: none;
  border: none;
  outline: none;
  padding: 16px 20px;
  font-size: 16px;
  font-weight: 500;
  color: var(--white-100);
  text-decoration: none;
  cursor: pointer;
}

/* underline setup */
.pages a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 100%;
  left: 0;
  background: var(--white-100);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease;
}

/* hover animation: left → right */
.pages a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.social{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.social span {
    width: 50px;
    height: 50px;
    position: relative;
    background: transparent;
    border: 1px solid var(--black-50);
    margin: 20px;
    cursor: pointer;
    transition: background 0.15s ease-in-out 0s;

}

.social img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.social span:hover {
     background-color: transparent;
    text-shadow: nthree;
    text-decoration: none;
}
.social span:hover::before {
     left: 0%;
    right: auto;
    width: 100%;
}
.social span:before {
     display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 48px;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: var(--primary-red);
    transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}


.footer-meta {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--white-90);
  font-size: 14px;
   justify-content: center;
    padding: 40px 0px 64px 0px;
}

.footer-meta .dot {
  width: 6px;
  height: 6px;
  background-color: var(--white-80);
  border-radius: 50%;
  flex-shrink: 0;
}

@media screen and (max-width: 1600px){
// .f-pattern-home{
//   width: 100%;
// }
// .f-pattern-home img{
//   max-width: 90%;
// }
.f-content{
  padding: 64px 0px 0px 0px;
}

.f-content > img{
    width: 500px;
}

.f-content > img{
    padding: 0px 0px 40px 0px;
}

.footer-tagline {
  padding: 0px 0px 24px 0px;
}

.f-content .copyright {
    padding: 40px 0px 56px 0px;
}
}



@media screen and (max-width: 1400px) {
.pages{
    margin: 16px 0px;
}

.f-content > img{
    width: 500px;
}

.f-content{
    width: 80%;
}
  }

@media screen and (max-width: 999px) {
.f-content > img{
    width: 430px;
}

.pages span::after {
    display: none;
}

.pages{
    margin: 8px 0px;
}

.footer-meta{
      flex-direction: column-reverse;
}

.footer-meta .dot {
  display: none;
}

  }


@media screen and (max-width: 800px) {
    .pages span{
        width: 100%;
    }

    .f-pattern-home{
  width: 100%;
}
.f-pattern-home img{
  max-width: 90%;
  object-fit: cover;
}
  }


@media screen and (max-width: 500px) {
.social span{
    margin: 12px;
}
.pages span{
    margin: 12px;
}

.pages{
    margin: 24px 0px;
}

.f-content{
  width: 100%;
}

.f-content > img{
    width: 340px;
}
  }


  .whatsapp-connect{
    position: fixed;
    z-index: 99;
    bottom: 48px;
    right: 48px;
    cursor: pointer;
    
  }

  .container{
    width: 50px;
height: 50px;
border-radius: 25px;
background: var(--primary-red);
box-shadow: -1px 4px 8px 1px rgba(0, 0, 0, 0.30);
transition: all 0.15s cubic-bezier(.42, 0, .58, 1);

  }

  .text{
    display: block;
    visibility: hidden;
    width: 245px;
    float: right;
    opacity: 0;
    color: var(--white-100);

  }

  .whatsapp-connect img{
    position: absolute;
    top: 11px;
    right: 10px;
  }

  .container p{
    padding: 10px 0px 0px 16px;
  }

  .container:hover{
    width: 262px;
    height: 50px;
  }

  .container:hover .text{
    display: block;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.4s cubic-bezier(.42, 0, .58, 1);

  }

  @media screen and (max-width: 800px) {
    .whatsapp-connect{
        bottom: 32px;
        right: 32px;
        
      }}
  @media screen and (max-width: 500px) {
    .whatsapp-connect{
        bottom: 16px;
        right: 16px;
        
      }


  }
  //animatrion

//   a.animated-button.white-outlined {
//     color: #fff;
//     font-size: 17px;
//     text-transform: uppercase;
//     cursor: pointer;
//     padding-top: 16px;
//     display: block;
//     position: relative;
//     border: 2px solid white;
//     background-color: rgba(0, 0, 0, 0.253);
//     transition: all 0.5s cubic-bezier(.42, 0, .58, 1);
//     height: 60px;
//     border-radius: 0px;
//     overflow: hidden;
//     text-align: center;
// }

// a.animated-button.white-outlined:hover {
//     /* color: #000 !important; */
//     background-color: transparent;
//     text-shadow: nthree;
// }

// a.animated-button.white-outlined:hover:before {
//     left: 0%;
//     right: auto;
//     width: 100%;
// }

// a.animated-button.white-outlined:before {
//     display: block;
//     position: absolute;
//     top: 0px;
//     right: 0px;
//     height: 60px;
//     width: 0px;
//     z-index: -1;
//     content: '';
//     color: #000 !important;
//     background: var(--primary-gradient);
//     transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
// }