.header-container {
    z-index: 10;
    height: 120px;
    width: 100%;
    position: fixed;
    background: #181818d4;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.06);
}


.header-logo {
    width: 400px;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
    
}

.header-line {
    border-top: 2px solid #252525;
    position: absolute;
    bottom: 0px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    z-index: -10;
    left: 0px;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    font-family: "Poppins-Regular";
    z-index: 2;

}

.header li a {
    display: block;
    padding: 32.4px 72px;
    /* border-right: 1px solid #f4f4f4; */
    text-decoration: none;
    /* background-color: #035f8c; */
    color: white;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* ANIMATION */
ul li {
    padding: 0px 0;
}

ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    font-family: "Poppins-Regular";
    font-size: 16px;
    ;
    color: #ecf0f1;
    text-transform: uppercase;
    padding: 4px 0;
    transition: 0.5s;
}

ul li a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 97%;
    left: 0;
    background: var(--primary-red);
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}

ul li a:hover {
    color: white;
}

ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 36px 12px 25px 14px;
    position: relative;
    user-select: none;
    float: right;
    transform: scale(1.5);
}

.header .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    min-height: 100vh;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 120px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

// 1400
@media (max-width: 1600px) {
    .header-container {
    height: 90px;
}
.header li a {
    padding: 33.5px 32px !important;
}

.header-logo {
    width: 320px;
    
}
}

@media (max-width: 1200px) {
   
.header li a {
    padding: 33.5px 24px !important;
}

.header-logo {
    width: 300px;   
}
}


/* 48em = 768px */

@media (min-width: 999px) {

    .header li {
        float: left;
    }

    .header li a {
        padding: 47.5px 30px;

    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

/* FTOP */

.header li.active a {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 99%, #FF2E50 100%);
    background-color: rgba(0, 0, 0, 0.1);
}

.header li.active a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


@media screen and (max-width: 999px){
    .header-container{
        background-color: var(--black-90);
        height: 80px;
    }

    .header .menu-btn:checked~.menu {
        top: 80px;
    }

    .menu{
        background-color: var(--black-90);
    }

    .menu{
        height: 100%;
    }

    .header-logo{
        width: 300px;
    }
}


.menu-bottom-elements img{
    bottom: 0px;
    position: relative;
}