<div class="header-container" [class.header-hidden]="isHeaderHidden">
    <header class="header contain">
        <a href="/"> <img class="header-logo" src="../../assets/bre-logo.svg" alt="Balaji Real Estate logo"></a>

        <input class="menu-btn" type="checkbox" id="menu-btn" #menuBtn />

        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>

        <ul class="menu">
            <li [class.active]="isActive('/')"><a href="/">Home</a></li>
            <li [class.active]="isActive('/projects')"><a href="/projects">Projects</a></li>
            <li [class.active]="isActive('/about')"><a href="/about">About</a></li>
            <li [class.active]="isActive('/contact')"><a href="/contact">Contact Us</a></li>
        </ul>
        <div class="header-line"></div>
    </header>
</div>