<app-header></app-header>
<div class="home-section1">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
        </ul>
        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="bg" src="../../assets/home/home-hero-banner-1.jpg" alt="">
                <div class="hero-content">
                    <h2 class="hero-title">Find the Right Property.
                    </h2>
                    <h2 class="hero-title">Build the Right Future.
                    </h2>
                    <!-- <h1 class="hero-subtitle">Reevaluating the bias
                    </h1> -->

                    <div class="button home-hero-button"> <a href="/contact-us"
                            class="animated-button white-outlined">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="bg" src="../../assets/home/home-hero-banner-2.jpg">
                <div class="hero-content">

                    <h2 class="hero-title">Where Every Office Tells
                    </h2>
                    <h3 class="hero-subtitle">A Story of Success
                    </h3>

                    <div class="button home-hero-button"> <a href="/contact-us"
                            class="animated-button white-outlined">Contact Us</a>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <img class="bg" src="../../assets/home/home-hero-banner-7.jpg" alt="">
                <div class="hero-content">
                    <h3 class="hero-subtitle">Get Ready to Discover
                    </h3>
                    <h2 class="hero-title">Exclusivity, Trust, Ownership
                    </h2>
                    <h3 class="hero-subtitle">With Balaji Real Estate
                    </h3>

                    <div class="button home-hero-button"> <a href="/contact-us"
                            class="animated-button white-outlined">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="bg" src="../../assets/home/home-hero-banner-4.jpg" alt="">
                <div class="hero-content">
                    <h2 class="hero-title">Home Built to Elevate
                    </h2>
                    <h3 class="hero-subtitle">your lifestyle, offering the perfect balance of luxury, serenity, and
                        connection.
                    </h3>

                    <div class="button home-hero-button"> <a href="/contact-us"
                            class="animated-button white-outlined">Contact Us</a>
                    </div>
                </div>


            </div>

        </div>
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <app-scrolldown class="h-scrolldown" (click)="scroller()"></app-scrolldown>
    <!-- <app-scrolldown class="h-scrolldown" (click)="scroller()"></app-scrolldown> -->
</div>
<section class="home-section2 contain" id="h-section2">
    <div class="section-content">
        <h5 class="section-heading">A Name You Can Trust</h5>
        <h2>A Legacy of Trust in Every Square Foot</h2>
        <h3>Welcome to Balaji Real Estate. For over 30+ years, we have been the bridge between
            visionary property seekers and their ideal spaces.</h3>
        <p>Balaji Real Estate is a full-service real estate consultancy specializing in industrial, commercial, and
            residential properties. Since 2005, we have been helping individuals, businesses, and investors buy, sell,
            lease, and invest with confidence.

            With deep market knowledge, transparent processes, and a client-first approach, we ensure smooth,
            stress-free transactions across key Indian and international locations. </p>
    </div>
    <div class="h-section-2-image">
        <img src="../../assets/home/home-section-2 image.jpg" alt="">
        <img src="../../assets/home/dot-pattern.svg" alt="">
    </div>
</section>

<!-- Projects -->
<section class="h-section-3 contain">
    <div class="section-content">
        <h5 class="section-heading">Our Projects</h5>
        <h2>Explore Our Featured Projects</h2>
        <span class="view-all-button">
            <div class="button view-all-button"> <a href="/projects" class="animated-button black-outlined">View
                    All Projects ></a>
            </div>
        </span>
    </div>

    <div class="h-projects-container">
        <div class="h-projects-card" *ngFor="let project of projectsArr; let i = index">
            <div class="h-projects-image">
                <img [src]="project.hero_image" alt="">
            </div>
            <div class="h-projects-card-content">
                <h3>{{project.name}}</h3>
                <p class="ps">
                    <span class="properties-developer">
                        <img src="../../assets/projects/properties-developer.svg" alt="">
                    </span>
                    {{project.property_developer}}
                </p>
                <p class="ps">
                    <span class="properties-location">
                        <img src="../../assets/projects/Properties-location.svg" alt="">
                    </span>
                    {{project.property_location}}
                </p>
                <p class="ps">
                    <span class="properties-type">
                        <img src="../../assets/projects/properties-type.svg" alt="">
                    </span>
                    {{project.property_type}}
                </p>
                <div class="button project-card-button">
                    <a href="/projects" class="animated-button black-outlined">View All Details ></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-image-100">
    <!-- <div class="layer-dark-1"></div> -->
    <div class="parallax-background parallax-1">
        <!-- <img src="../../../assets/home/shahrukhz-danube-f-img-1.jpg" alt=""> -->
    </div>
    <div class="content">
        <h2>Premium Living with Unrivaled Views</h2>
        <div class="button home-hero-button"> <a href="/projects" class="animated-button white-outlined">Explore All
                Projects</a>
        </div>
    </div>
</section>

<!-- page Nav section -->
<section class="h-section-nav-block">
    <!-- 
  <div class="contact-nav-card">
    <h5>CONTACT</h5>
    <h2>Let’s begin the project</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="button"> <a href="/contact" class="animated-button gradient-filled">CONTACT US</a> </div>
  </div> -->

    <div class="about-nav-card">
        <div class="bg-img"><img src="../../../assets/contact/contact-us-hero-image.jpg" alt=""></div>
        <div class="content">
            <h5>CONTACT</h5>
            <h2>Get in Touch</h2>
            <p>Have a property requirement, investment query, or business opportunity in mind? Any collaboration?
                Connect with our team today. We’re just a call or email away.</p>
            <div class="button"> <a href="/contact" class="animated-button white-outlined">Contact Us</a> </div>
        </div>
    </div>

    <div class="about-nav-card">
        <div class="bg-img"><img src="../../../assets/about/about-hero-image.jpg" alt=""></div>
        <div class="content">
            <h5>ABOUT US</h5>
            <h2>Get to Know Us</h2>
            <p>Discover the people, principles, and decades of real estate experience behind Balaji Real Estate, built
                on trust, transparency, and a commitment to reliable property solutions. </p>
            <div class="button"> <a href="/about" class="animated-button white-outlined">ABOUT US</a> </div>
        </div>
    </div>

</section>
<app-footer></app-footer>