.home-section1 {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: var(--primary-color);
    top: 0px;
}

.carousel-inner .bg {
    width: 100%;
    object-fit: cover;
    height: 100vh;
}

.video-fluid {
    width: 100%;
    object-fit: cover;
    height: 100vh;
}

.carousel-indicators {
    right: 65px !important;
    bottom: 29px !important;
    left: auto !important;
    z-index: 15;
    display: flex;
    justify-content: center;
    margin-right: 0 !important;
    margin-left: 0 !important;
    list-style: none;
}

.carousel-control-next,
.carousel-control-prev {
    width: 11% !important;
}


.home-section1 .hero-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

}

.hero-title {

    font-size: 3.5rem;
    color: white;
    text-align: center;
    line-height: 60px;

}

.hero-subtitle {
    color: white;
    text-align: center;
    font-size: 1.6rem;
    /* text-transform: uppercase; */
}

.hero-play-button {
    width: 259px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 25px;

}

a.animated-button.thar-three {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;
    padding-top: 18px;
    display: block;
    position: relative;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.253);
    transition: all 0.5s cubic-bezier(.42, 0, .58, 1);
    height: 66px;
    border-radius: 33px;
    overflow: hidden;

    ;
}

a.animated-button.thar-three:hover {
    /* color: #000 !important; */
    background-color: transparent;
    text-shadow: nthree;
}

a.animated-button.thar-three:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
}

a.animated-button.thar-three:before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 66px;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: var(--primary-color);
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

/* scroll down */
.h-scrolldown {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-section2 {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: rgb(0, 0, 0);
    top: 0px;
    display: flex;

}