.home-section1 {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: var(--primary-color);
    top: 0px;
}

.carousel-inner .bg {
    width: 100%;
    object-fit: cover;
    height: 100vh;
}

.video-fluid {
    width: 100%;
    object-fit: cover;
    height: 100vh;
}

.carousel-indicators {
    right: 128px !important;
    bottom: 29px !important;
    left: auto !important;
    z-index: 15;
    display: flex;
    justify-content: center;
    margin-right: 0 !important;
    margin-left: 0 !important;
    list-style: none;
}

.carousel-control-next,
.carousel-control-prev {
    width: 11% !important;
}


.home-section1 .hero-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;

}

.hero-title {

    font-size: 3.5rem;
    color: white;
    text-align: center;
    line-height: 60px;
    text-shadow: rgba(0, 0, 0, 0.9) 0px 8px 30px;

}

.hero-subtitle {
    color: white;
    text-align: center;
    font-size: 1.6rem;
    text-shadow: rgba(0, 0, 0, 0.9) 0px 8px 30px;
    /* text-transform: uppercase; */
}

.home-hero-button {
    width: 259px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 25px;

}

a.animated-button.thar-three {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;
    padding-top: 18px;
    display: block;
    position: relative;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.253);
    transition: all 0.5s cubic-bezier(.42, 0, .58, 1);
    height: 66px;
    border-radius: 33px;
    overflow: hidden;

    ;
}

a.animated-button.thar-three:hover {
    /* color: #000 !important; */
    background-color: transparent;
    text-shadow: nthree;
}

a.animated-button.thar-three:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
}

a.animated-button.thar-three:before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 66px;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: var(--primary-color);
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

/* scroll down */
.h-scrolldown {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// home section 2

.home-section2 {
    height: auto;
    width: 100%;
    position: relative;
    background-color: var(--golden-100);
    top: 0px;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}

.home-section2 .section-content{
    padding: 0px 32px 0px 0px;
}

.home-section2 {
    .section-content{
        h5{
            color: var(--white-100);
        }
        h2{
            padding: 0px 0px 0px 0px;
            color: var(--white-100);
        }
        h3{
            padding: 32px 0px 24px 0px;
            color: var(--golden-80);
        }
        p{
            padding: 0px 0px 0px 0px;
            color: var(--white-100);
        }
    }
}



.h-section-2-image{
    position: relative;
}

.h-section-2-image img:nth-child(2){
    margin: -40px -48px;
}

.h-section-2-image img:nth-child(1){
    max-width: 731px;
}
// Projects

