<app-header></app-header>
<section class="page-hero-section">
    <div class="page-hero-image">
        <img src="../../assets/projects/projects-hero-image.jpg" alt="">
    </div>
    <div class="hero-content text-shadow">
        <h3>Projects</h3>
        <h2>Explore All Our Projects</h2>

    </div>
    <app-scrolldown class="h-scrolldown page-scrolldown" (click)="scroller()"></app-scrolldown>
</section>


<section class="p-projects contain" id="p-projects">

    <div class="projects-container">
        <!-- Filter Tabs -->
        <div class="projects-filter">
            <button class="filter-tab" *ngFor="let tab of projectTabs" (click)="selectTab(tab)"
                [class.active]="activeTab === tab">
                {{ tab }}
            </button>
        </div>
        <!-- Project Cards -->
        <div class="h-projects-container">
            <div class="h-projects-card" *ngFor="let project of filteredProjects; trackBy: trackById" #card>

                <div class="h-projects-image">
                    <img [src]="project.thumbnail_image" alt="">
                </div>

                <div class="h-projects-card-content">
                    <h3>{{ project.name }}</h3>
                    <p class="ps">
                        <span class="properties-developer">
                            <img src="../../assets/projects/properties-developer.svg" alt="">
                        </span>
                        {{ project.property_developer }}
                    </p>
                    <p class="ps">
                        <span class="properties-location">
                            <img src="../../assets/projects/Properties-location.svg" alt="">
                        </span>
                        {{ project.property_location }}
                    </p>
                    <p class="ps">
                        <span class="properties-type">
                            <img src="../../assets/projects/properties-type.svg" alt="">
                        </span>
                        {{ project.property_type }}
                    </p>
                    <div class="button project-card-button">
                        <a class="animated-button black-outlined" (click)="viewAllDetails(project.id)">
                            View All Details >
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>


<!-- page Nav section -->
<section class="h-section-nav-block">
    <!-- 
  <div class="contact-nav-card">
    <h5>CONTACT</h5>
    <h2>Let’s begin the project</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="button"> <a href="/contact" class="animated-button gradient-filled">CONTACT US</a> </div>
  </div> -->

    <div class="about-nav-card">
        <div class="bg-img"><img src="../../../assets/contact/contact-us-hero-image.jpg" alt=""></div>
        <div class="content">
            <h5>CONTACT</h5>
            <h2>Get in Touch</h2>
            <p>Have a property requirement, investment query, or business opportunity in mind? Any collaboration?
                Connect with our team
                today. We’re just a call or email away.</p>
            <div class="button"> <a href="/contact" class="animated-button white-outlined">Contact Us</a> </div>
        </div>
    </div>

    <div class="about-nav-card">
        <div class="bg-img"><img src="../../../assets/about/about-hero-image.jpg" alt=""></div>
        <div class="content">
            <h5>ABOUT US</h5>
            <h2>Get to Know Us</h2>
            <p>Discover the people, principles, and decades of real estate experience behind Balaji Real Estate, built
                on trust, transparency, and a commitment to reliable property solutions. </p>
            <div class="button"> <a href="/about" class="animated-button white-outlined">ABOUT US</a> </div>
        </div>
    </div>

</section>
<app-footer></app-footer>