/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
// Global
* {
    box-sizing: border-box;
    font-family: Poppins-Regular;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

ol,
ul {
    list-style: none outside none;
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

.contain {
    padding: 0px 150px;
}





@font-face {
    font-family: 'Poppins-Black';
    src: url('./assets/fonts/Poppins/Poppins-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-BlackItalic';
    src: url('./assets/fonts/Poppins/Poppins-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('./assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-BoldItalic';
    src: url('./assets/fonts/Poppins/Poppins-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('./assets/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-ExtraBoldItalic';
    src: url('./assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url('./assets/fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-ExtraLightItalic';
    src: url('./assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Italic';
    src: url('./assets/fonts/Poppins/Poppins-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('./assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-LightItalic';
    src: url('./assets/fonts/Poppins/Poppins-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('./assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-MediumItalic';
    src: url('./assets/fonts/Poppins/Poppins-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('./assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-SemiBoldItalic';
    src: url('./assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Thin';
    src: url('./assets/fonts/Poppins/Poppins-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-ThinItalic';
    src: url('./assets/fonts/Poppins/Poppins-ThinItalic.ttf') format('truetype');
}


:root {
    --primary-red: #F30505;
    --primary-color: #F30505;
    --primary-blue: #08D8D5;
    --golden-100:#806444;
    --golden-80:#ffcb91;
    --golden-60:#fff5e9;
    --primary-gradient: linear-gradient(90deg, #F32799 0%, #FE2D74 50%, #FF2E63 100%);
    --black-100: #070707;
    --black-90: #181818;
    --black-80: #292929;
    --black-70: #3E3E3E;
    --black-60: #525252;
    --black-50: #676767;
    --white-50: #676767;
    --white-60: #7C7C7C;
    --white-70: #919191;
    --white-80: #A5A5A5;
    --white-90: #BABABA;
    --white-100: #ffffff;

}

body, html {
    background-color: var(--black-80) !important;
}

/* Fonts */

* {
    box-sizing: border-box;
    font-family: Poppins-Regular;
}

h1,
h2,
h3 {
    font-family: Poppins-SemiBold;
}

//Typography


h1 {
    font-size: 85px !important;
    line-height: 120% !important;

}

h2 {
    font-size: 60px !important;
    line-height: 115% !important;
}

h3 {
    font-size: 40px !important;
    line-height: 115% !important;
}

h4 {
    font-size: 24px !important;
    line-height: 115% !important;
}

h5 {
    font-size: 18px !important;
    line-height: 115% !important;
    font-weight: bold !important;
    letter-spacing: 5.4px;
    padding-bottom: 16px;
    position: relative;
    text-transform: uppercase;
}


p,
.pm {
    font-size: 16px;
    line-height: 32px;
    font-family: Poppins-Regular;
    margin-bottom: 0px;
}

.ps {
    font-size: 16px;
    font-style: normal;
    line-height: 32px;
    font-family: Poppins-Regular;
    margin-bottom: 0px;

}

.gradient-text {
    background-image: var(--primary-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h5::after {
    content: " ";
    display: inline-block;
    width: 72px;
    height: 2px;
    background: var(--primary-red);
    position: relative;
    top: -4px;
    left: 16px;
}

.line-before::before {
    content: " ";
    display: inline-block;
    width: 72px;
    height: 2px;
    background: var(--primary-gradient);
    position: relative;
    top: -4px;
    right: 16px;
}

.pl {
    font-family: Poppins-Regular;
    font-size: 18px;
}

@media screen and (max-width: 1800px) {
    h1 {
        font-size: 72px !important;

    }

    h2 {
        font-size: 56px !important;

    }

    h3 {
    font-size: 36px !important;
}

h4 {
    font-size: 24px !important;
}

}


@media screen and (max-width: 1600px) {
    h1 {
        font-size: 64px !important;


    }

    h2 {
        font-size: 48px !important;
 
    }

    h3 {
    font-size: 30px !important;
}

h4 {
    font-size: 20px !important;

}

    .contain {
        padding: 0px 104px;
    }
}



@media screen and (max-width: 1200px) {
    h1 {
        font-size: 64px !important;

    }

    h2 {
        font-size: 40px !important;
    }

    h3 {
        font-size: 24px !important;
    }

    .contain {
        padding: 0px 96px;
    }

}

@media screen and (max-width: 999px) {
    h1 {
        font-size: 56px !important;

    }

    h2 {
        font-size: 40px !important;
    }

    h3 {
        font-size: 24px !important;
    }

    .contain {
        padding: 0px 56px;
    }

}


@media screen and (max-width: 600px) {

    .contain {
        padding: 0px 24px;
    }

    h1 {
        font-size: 40px !important;

    }

    h2 {
        font-size: 32px !important;
    }


    h3 {
        font-size: 22px !important;
    }

}


// button

/* button  */

.button {
    width: 184px;
    transform: translate(-0%);
    margin-top: 32px;
}

//white outlined

a.animated-button.white-outlined {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;
    padding-top: 16px;
    display: block;
    position: relative;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.253);
    transition: all 0.5s cubic-bezier(.42, 0, .58, 1);
    height: 60px;
    border-radius: 0px;
    overflow: hidden;
    text-align: center;
    font-weight: 500;
}

a.animated-button.white-outlined:hover {
    /* color: #000 !important; */
    background-color: transparent;
    text-shadow: nthree;
    text-decoration: none;
}

a.animated-button.white-outlined:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
}

a.animated-button.white-outlined:before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 60px;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: var(--primary-color);
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

// Black Outlined Button

a.animated-button.black-outlined {
    color: var(--black-80);
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;
    padding-top: 16px;
    display: block;
    position: relative;
    border: 2px solid var(--black-80);
    background-color: var(--white-100);
    transition: all 0.5s cubic-bezier(.42, 0, .58, 1);
    height: 60px;
    border-radius: 0px;
    overflow: hidden;
    text-align: center;
    font-weight: 500;
}

a.animated-button.black-outlined:hover {
    /* color: #000 !important; */
    background-color: transparent;
    text-shadow: nthree;
    text-decoration: none;
    color: var(--white-100);
}

a.animated-button.black-outlined:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
}

a.animated-button.black-outlined:before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 60px;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: var(--primary-color);
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

//Button Gradiant Filled

a.animated-button.gradient-filled {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;
    padding-top: 16px;
    display: block;
    position: relative;
    background-color: var(--primary-red);
    transition: all 0.5s cubic-bezier(.42, 0, .58, 1);
    height: 60px;
    border-radius: 0px;
    overflow: hidden;
    text-align: center;
}

a.animated-button.gradient-filled:hover {
    /* color: #000 !important; */
    background-color: transparent;
    text-shadow: nthree;
}

a.animated-button.gradient-filled:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
}

a.animated-button.gradient-filled:before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 60px;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: var(--primary-gradient);
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
// Home About Section



// Home Projects Section

.h-section-3{
    z-index: 3;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--golden-60);
}

.view-all-button div{
    width: 230px;
}

.view-all-button{
position: absolute;
right: 0px;
top: 0px;
}
.section-content{
    position: relative;
    padding: 0px 0px 48px 0px;
}
.h-projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: left;
    margin: 24px 0px 80px 0px;
    gap: 112px 88px;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    z-index: 3;
    position: relative;
  }
  
  .h-projects-card{
  padding: 0px;
  border-radius: 2px;
  background: var(--white-100);
  border: 1px solid var(--white-90);
  min-height: 363px;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
 border-radius: 6px;

  }

  .h-projects-card:hover{
    background: var(--golder-90);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.12);
  }

//   .h-projects-card:hover .h-projects-image:hover{
//     transform: scale(1.1);
//   }

  .h-projects-image{
    width: 100%;
  }
  
  .h-projects-image img{
   width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px 6px 0px 0px;
  }
  
    .h-projects-card-content{
    padding: 24px;
  }

  .h-projects-card h2{
    padding: 0px 0px 0px 0px;}
  
  .h-projects-card p{
    padding: 0px 0px 0px 0px;
    color: var(--black-70);
    margin: 0px 0px 2px 0px;
  }

  .h-projects-card span{
    padding: 0px 16px 0px 0px;
  }

.project-card-button{
    width: 100%;
}
  
  .h-section-3 .projects-btn{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }



@media screen and (max-width: 1800px){
.h-projects-container{
    grid-template-columns: 1fr 1fr;
    justify-content: left;
    margin: 24px 0px 80px 0px;
    gap: 96px 64px;
    padding: 0px 0px 0px 0px;
  }
}

@media screen and (max-width: 1600px){
.h-projects-container{
    grid-template-columns: 1fr 1fr;
    justify-content: left;
    margin: 24px 0px 80px 0px;
    gap: 80px 64px;
    padding: 0px 0px 0px 0px;
  }
}

@media screen and (max-width: 1200px){
.h-projects-container{
    grid-template-columns: 1fr 1fr;
    justify-content: left;
    margin: 24px 0px 80px 0px;
    gap: 56px 48px;
    padding: 0px 0px 0px 0px;
  }
}
@media screen and (max-width: 999px){
.h-projects-container{
    grid-template-columns: 1fr 1fr;
    justify-content: left;
    margin: 24px 0px 80px 0px;
    gap: 48px 40px;
    padding: 0px 0px 0px 0px;
  }
}
@media screen and (max-width: 800px){
.h-projects-container{
    grid-template-columns: 1fr;
    justify-content: left;
    margin: 24px 0px 80px 0px;
    gap: 40px 32px;
    padding: 0px 0px 0px 0px;
  }
}


  


//   home section 4

.h-section-4 {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: var(--golden-80);
}


// Page Nav Section

//   

.h-section-nav-block{
width: 100%;
position: relative;
height: auto;
background-color: var(--black-90);
display: grid;
grid-template-columns: 1fr 1fr;
justify-content: center;
color: var(--white-100);
}



.h-section-nav-block h5{
    padding: 0px 0px 16px 0px;
}

.h-section-nav-block h2{
    padding: 0px 0px 20px 0px; 
}


.h-section-nav-block p{
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 177.778% */
padding: 0px 0px 0px 0px;
}

.contact-nav-card{
    padding: 88px 150px 88px 150px;
}

.about-nav-card .content{
    padding: 88px 150px 88px 150px;
    background: #00000080;
    position: relative;
    height: 100%;
}

.about-nav-card{
    min-height: 600px;
}

.about-nav-card .bg-img{
    position: absolute;
    width: 50%;
}

.bg-img img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}


@media screen and (max-width: 1600px) {
    .section-content{
        padding: 0px 0px 48px 0px;
    }
    .h-services-container{
        margin: 24px 0px 80px 0px;
        gap: 96px 64px;
      }

      .h-testimonial-content p {
        width: 80%;
    }

    .about-nav-card .content {
        padding: 88px 150px 88px 150px;
    }
  }

@media screen and (max-width: 1400px) {
    .section-content{
        padding: 0px 0px 48px 0px;
    }
    .h-services-container{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 88px 56px;
      }

      .h-services-card{
        padding: 20px;
      }

      .testimonial-card-container {
        gap: 40px;
        margin: 24px 0px 48px 0px;
    }

    
    .about-nav-card .content {
        padding: 88px 120px 88px 120px;
    }
  }

@media screen and (max-width: 1200px) {
    .section-content{
        padding: 0px 0px 40px 0px;
    }
    .h-services-container{
        grid-template-columns: 1fr 1fr;
        gap: 88px 56px;
      }

      .h-services-card{
        padding: 24px;
      }

      .h-testimonial-content p {
        padding: 0px 100px;
        width: 100%;
    }

    .testimonial-card-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 24px 0px 48px 0px;
        gap: 32px;
    }

    .testimonial-card{
        padding: 16px 16px;
    }

    .testimonial-card .testimonial-copy {
        padding: 16px 0px 56px 0px;
    }

    .about-nav-card .content {
        padding: 96px 96px 88px 96px;
    }
  }
  @media screen and (max-width: 999px){
    .about-nav-card .content {
        padding: 72px 54px 88px 54px;
    }
  }


@media screen and (max-width: 800px) {
    .section-content{
        padding: 0px 0px 40px 0px;
    }
    .h-services-container{
        grid-template-columns: 1fr;
        gap: 88px 56px;
      }

      .h-services-card{
        padding: 24px;
        min-height: 320px;
      }

      .h-testimonial-content p {
        padding: 0px 0px;
    }

    .testimonial-card-container {
        grid-template-columns: 1fr;
        margin: 24px 0px 48px 0px;
        gap: 40px;
    }

    .testimonial-card{
        padding: 32px 32px;
        min-height: 320px
    }

    .h-section-nav-block {
        grid-template-columns: 1fr;
    }

    .about-nav-card {
        min-height: 500px;
    }

    .about-nav-card .bg-img {
        width: 100%;
    }

    .bg-img img {
        min-height: 500px;
        height: 500px;
    }
  }



@media screen and (max-width: 600px) {
    .about-nav-card .content {
        padding: 72px 24px 88px 24px;
    }
  }
  
@media screen and (max-width: 500px) {
    .section-content{
        padding: 0px 0px 40px 0px;
    }
    .h-services-container{
        grid-template-columns: 1fr;
        gap: 88px 56px;
      }

      .h-services-card{
        padding: 16px;
        min-height: 320px;
      }
  }

@media screen and (max-width: 440px) {
    .bg-img img {
        height: 550px;
    }

    .about-nav-card {
        min-height: 550px;
    }
  }




//   Page Hero Section

.page-hero-section{
    width: 100%;
    height: 90vh;
    position: relative;
}

.page-hero-image {
    width: 100%;
    height: 100%; 
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    
}

.page-hero-section{
    .hero-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: var(--white-100);
        

    }
}

.text-shadow{
    text-shadow: rgba(0, 0, 0, 0.9) 0px 8px 30px;
}

.page-scrolldown{
        position: relative;
    top: -100px;
}