/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
// Global
* {
    box-sizing: border-box;
    font-family: Poppins-Regular;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

    ol, ul {
        list-style: none outside none;}


    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
        background: none repeat scroll 0 0 transparent;
        border: 0 none;
        font-size: 100%;
        margin: 0;
        outline: 0 none;
        padding: 0;
        vertical-align: baseline;
    }
    
.contain{
    padding: 0px 150px;
}

body{
    background-color: var(--black-90);
}



@font-face {
    font-family: 'Poppins-Black';
    src : url('./assets/fonts/Poppins/Poppins-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-BlackItalic';
    src: url('./assets/fonts/Poppins/Poppins-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('./assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-BoldItalic';
    src: url('./assets/fonts/Poppins/Poppins-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('./assets/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-ExtraBoldItalic';
    src: url('./assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url('./assets/fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-ExtraLightItalic';
    src: url('./assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Italic';
    src: url('./assets/fonts/Poppins/Poppins-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('./assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-LightItalic';
    src: url('./assets/fonts/Poppins/Poppins-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('./assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-MediumItalic';
    src: url('./assets/fonts/Poppins/Poppins-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('./assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-SemiBoldItalic';
    src: url('./assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Thin';
    src: url('./assets/fonts/Poppins/Poppins-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-ThinItalic';
    src: url('./assets/fonts/Poppins/Poppins-ThinItalic.ttf') format('truetype');
}


:root {
    --primary-red: #FF2E50;
    --primary-blue:#08D8D5;
    --primary-gradient: linear-gradient(90deg, #F32799 0%, #FE2D74 50%, #FF2E63 100%);
    --black-100: #070707;
    --black-90: #181818;
    --black-80: #292929;
    --black-70: #3E3E3E;
    --black-60: #525252;
    --black-50: #676767;
    --white-50: #676767;
    --white-60: #7C7C7C;
    --white-70: #919191;
    --white-80: #A5A5A5;
    --white-90: #BABABA;
    --white-100: #ffffff;

}

/* Fonts */

* {
    box-sizing: border-box;
    font-family: Poppins-Regular;
}

h1,
h2,
h3{
    font-family: Poppins-SemiBold;
    color: var(--white-100);
}

//Typography


h1{
font-size: 85px;
line-height: 120%;

}
h2{
    font-size: 60px;
    line-height: 115%;
}

h3{
    font-size: 30px;
line-height: 32px;
}

h4{
    font-size: 20px;
    line-height: 32px;
    color: var(--white-100);
}

h5{
    font-size: 18px;
line-height: 32px; 
letter-spacing: 5.4px;
color: var(--white-100);
padding-bottom: 16px;
position: relative;
text-transform: uppercase;
}


p, .pm{
    color: var(--white-100);
    font-size: 16px;
    line-height: 32px;
    font-family: Poppins-Regular;
}

.ps{
font-size: 16px;
color: var(--white-100);
font-style: normal;
line-height: 32px;
font-family: Poppins-Regular;

}

.gradient-text{
    background-image: var(--primary-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h5::after {
    content:" ";
    display: inline-block;
    width: 72px;
    height: 2px;
    background: var(--primary-gradient);
    position: relative;
    top: -4px;
    left: 16px;
}

.line-before::before {
    content:" ";
    display: inline-block;
    width: 72px;
    height: 2px;
    background: var(--primary-gradient);
    position: relative;
    top: -4px;
    right: 16px;
}

.pl {
    font-family: Poppins-Regular;
    font-size: 18px;
  }

  @media screen and (max-width: 1600px) {
    h1{
        font-size: 72px;
        line-height: 120%;
        
        }
        h2{
            font-size: 56px;
            line-height: 115%;
        }
        
        h3{
            font-size: 24px;
        line-height: 30px;
        }
        
  }


  @media screen and (max-width: 1400px) {
    h1{
        font-size: 64px;
        line-height: 120%;
        
        }
        h2{
            font-size: 48px;
            line-height: 115%;
        }
        
        h3{
            font-size: 24px;
        line-height: 30px;
        }
        
        .contain{
            padding: 0px 104px;
        }
  }



  @media screen and (max-width: 1200px) {
    h1{
        font-size: 64px;
        line-height: 120%;
        
        }
        h2{
            font-size: 40px;
            line-height: 115%;
        }
        
        h3{
            font-size: 24px;
        line-height: 26px;
        }

        .contain{
            padding: 0px 96px;
        }
        
  }

  @media screen and (max-width: 999px) {
    h1{
        font-size: 56px;
        line-height: 120%;
        
        }
        h2{
            font-size: 40px;
            line-height: 115%;
        }
        
        h3{
            font-size: 24px;
        line-height: 26px;
        }

        .contain{
            padding: 0px 56px;
        }
        
        
  }

  
  @media screen and (max-width: 600px) {

        .contain{
            padding: 0px 24px;
        }

        h1{
            font-size: 40px;
            line-height: 120%;
            
            }

            h2{
                font-size: 32px;
                line-height: 115%;
            }

                
        h3{
            font-size: 22px;
        line-height: 26px;
        }
    
  }


// button

/* button  */

.button {
    width: 184px;
    transform: translate(-0%);
    margin-top: 32px;
}

//white outlined

a.animated-button.white-outlined {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;
    padding-top: 16px;
    display: block;
    position: relative;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.253);
    transition: all 0.5s cubic-bezier(.42, 0, .58, 1);
    height: 60px;
    border-radius: 0px;
    overflow: hidden;
    text-align: center;
}

a.animated-button.white-outlined:hover {
    /* color: #000 !important; */
    background-color: transparent;
    text-shadow: nthree;
}

a.animated-button.white-outlined:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
}

a.animated-button.white-outlined:before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 60px;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: var(--primary-gradient);
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

//Button Gradiant Filled

a.animated-button.gradient-filled {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;
    padding-top: 16px;
    display: block;
    position: relative;
    background-color: var(--primary-red);
    transition: all 0.5s cubic-bezier(.42, 0, .58, 1);
    height: 60px;
    border-radius: 0px;
    overflow: hidden;
    text-align: center;
}

a.animated-button.gradient-filled:hover {
    /* color: #000 !important; */
    background-color: transparent;
    text-shadow: nthree;
}

a.animated-button.gradient-filled:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
}

a.animated-button.gradient-filled:before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 60px;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: var(--primary-gradient);
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}


//home pattern

.home-pattern{
    position: absolute;
    width: 100%;
    z-index: 2;
    margin-top: 80vh;
}

.home-pattern img{
    width: 100%;
    position: absolute;
    overflow: hidden;
}

//Section 3

.h-section-3{
    z-index: 3;
    position: relative;
}

.section-content{
    position: relative;
    padding: 0px 0px 100px 0px;
}
.h-services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: left;
    margin: 24px 0px 80px 0px;
    gap: 112px 88px;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    z-index: 3;
    position: relative;
  }
  
  .h-services-card{
  padding: 24px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid var(--black-70);
  min-height: 363px;
  position: relative;
  }

  .h-services-card:hover{
    background: var(--primary-gradient);
  }

  .h-services-icon{
    width: 100px;
    position: absolute;
    height: 100px;
    background: var(--primary-gradient);
    left: 50%;
    transform: translate(-50%);
    margin-top: -56px;
  }
  
  .h-services-icon img{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  
  .h-services-card h3{
    padding: 80px 0px 24px 0px;
    text-align: center;
  }
  
  .h-services-card p{
    padding: 0px 0px 0px 0px;
    text-align: center;
    color: white;
  }
  
  .h-section-3 .services-btn{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }


  //Textimonial

  .h-testimonial-section{
    width: 100%;
    background-color: var(--black-100);
    padding-bottom: 120px;
  }

  .h-testimonial-content{
    text-align: center;
    color: white;
    padding: 80px 0px 64px 0px;
  }

  .h-testimonial-content p{
    padding: 0px 110px;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }

  .h-testimonial-content h2{
    padding: 0px 0px 16px 0px;
  }

  .testimonial-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin: 24px 32px 48px 32px;
    gap: 48px;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
  }


  .testimonial-card{
        padding: 24px 24px;
        border-radius: 2px;
        background: transparent;
        border: 2px solid var(--black-70);
        min-height: 363px;
        position: relative;

  }

  .testimonial-card:hover{
    background: var(--primary-gradient);
  }

  .testimonial-card .testimonial-copy{
    text-align: left;
    color: white;
    padding: 24px 0px 56px 0px;
  }


  .person-details{
    display: flex;
    flex-direction: row;

  }

  .person-details .avatar{
margin: 0px 20px 0px 0px;

  }

  .person-details .avatar>img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }

  .person-details .person-name{
    color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 32px;
  }

  .person-details .company-name{
    color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
  }

  

//   

.h-section-nav-block{
width: 100%;
position: relative;
height: auto;
background-color: var(--black-90);
display: grid;
grid-template-columns: 1fr 1fr;
justify-content: center;
}



.h-section-nav-block h5{
    padding: 0px 0px 16px 0px;
}

.h-section-nav-block h2{
    padding: 0px 0px 20px 0px; 
}


.h-section-nav-block p{
    color: #FFF;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 177.778% */
padding: 0px 0px 0px 0px;
}

.contact-nav-card{
    padding: 88px 150px 88px 150px;
}

.about-nav-card .content{
    padding: 88px 150px 88px 150px;
    background: #00000080;
    position: relative;
    height: 100%;
}

.about-nav-card{
    min-height: 600px;
}

.about-nav-card .bg-img{
    position: absolute;
    width: 50%;
}

.bg-img img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}


@media screen and (max-width: 1600px) {
    .section-content{
        padding: 0px 0px 100px 0px;
    }
    .h-services-container{
        margin: 24px 0px 80px 0px;
        gap: 96px 64px;
      }

      .h-testimonial-content p {
        width: 80%;
    }

    .about-nav-card .content {
        padding: 88px 150px 88px 150px;
    }
  }

@media screen and (max-width: 1400px) {
    .section-content{
        padding: 0px 0px 100px 0px;
    }
    .h-services-container{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 88px 56px;
      }

      .h-services-card{
        padding: 20px;
      }

      .testimonial-card-container {
        gap: 40px;
        margin: 24px 0px 48px 0px;
    }

    
    .about-nav-card .content {
        padding: 88px 120px 88px 120px;
    }
  }

@media screen and (max-width: 1200px) {
    .section-content{
        padding: 0px 0px 100px 0px;
    }
    .h-services-container{
        grid-template-columns: 1fr 1fr;
        gap: 88px 56px;
      }

      .h-services-card{
        padding: 24px;
      }

      .h-testimonial-content p {
        padding: 0px 100px;
        width: 100%;
    }

    .testimonial-card-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 24px 0px 48px 0px;
        gap: 32px;
    }

    .testimonial-card{
        padding: 16px 16px;
    }

    .testimonial-card .testimonial-copy {
        padding: 16px 0px 56px 0px;
    }

    .about-nav-card .content {
        padding: 96px 96px 88px 96px;
    }
  }
  @media screen and (max-width: 999px){
    .about-nav-card .content {
        padding: 72px 54px 88px 54px;
    }
  }


@media screen and (max-width: 800px) {
    .section-content{
        padding: 0px 0px 100px 0px;
    }
    .h-services-container{
        grid-template-columns: 1fr;
        gap: 88px 56px;
      }

      .h-services-card{
        padding: 24px;
        min-height: 320px;
      }

      .h-testimonial-content p {
        padding: 0px 0px;
    }

    .testimonial-card-container {
        grid-template-columns: 1fr;
        margin: 24px 0px 48px 0px;
        gap: 40px;
    }

    .testimonial-card{
        padding: 32px 32px;
        min-height: 320px
    }

    .h-section-nav-block {
        grid-template-columns: 1fr;
    }

    .about-nav-card {
        min-height: 500px;
    }

    .about-nav-card .bg-img {
        width: 100%;
    }

    .bg-img img {
        min-height: 500px;
        height: 500px;
    }
  }



@media screen and (max-width: 600px) {
    .about-nav-card .content {
        padding: 72px 24px 88px 24px;
    }
  }
  
@media screen and (max-width: 500px) {
    .section-content{
        padding: 0px 0px 100px 0px;
    }
    .h-services-container{
        grid-template-columns: 1fr;
        gap: 88px 56px;
      }

      .h-services-card{
        padding: 16px;
        min-height: 320px;
      }
  }

@media screen and (max-width: 440px) {
    .bg-img img {
        height: 550px;
    }

    .about-nav-card {
        min-height: 550px;
    }
  }