/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
// Global
* {
    box-sizing: border-box;
    font-family: Poppins-Regular;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

ol,
ul {
    list-style: none outside none;
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

.contain {
    padding: 0px 150px;
}





@font-face {
    font-family: 'Poppins-Black';
    src: url('./assets/fonts/Poppins/Poppins-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-BlackItalic';
    src: url('./assets/fonts/Poppins/Poppins-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('./assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-BoldItalic';
    src: url('./assets/fonts/Poppins/Poppins-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('./assets/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-ExtraBoldItalic';
    src: url('./assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url('./assets/fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-ExtraLightItalic';
    src: url('./assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Italic';
    src: url('./assets/fonts/Poppins/Poppins-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('./assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-LightItalic';
    src: url('./assets/fonts/Poppins/Poppins-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('./assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-MediumItalic';
    src: url('./assets/fonts/Poppins/Poppins-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('./assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-SemiBoldItalic';
    src: url('./assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Thin';
    src: url('./assets/fonts/Poppins/Poppins-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-ThinItalic';
    src: url('./assets/fonts/Poppins/Poppins-ThinItalic.ttf') format('truetype');
}


:root {
    --primary-red: #F30505;
    --primary-color: #F30505;
    --primary-blue: #08D8D5;
    --primary-gradient: linear-gradient(90deg, #F32799 0%, #FE2D74 50%, #FF2E63 100%);
    --black-100: #070707;
    --black-90: #181818;
    --black-80: #292929;
    --black-70: #3E3E3E;
    --black-60: #525252;
    --black-50: #676767;
    --white-50: #676767;
    --white-60: #7C7C7C;
    --white-70: #919191;
    --white-80: #A5A5A5;
    --white-90: #BABABA;
    --white-100: #ffffff;

}

body, html {
    background-color: var(--black-80) !important;
}

/* Fonts */

* {
    box-sizing: border-box;
    font-family: Poppins-Regular;
}

h1,
h2,
h3 {
    font-family: Poppins-SemiBold;
    color: var(--white-100);
}

//Typography


h1 {
    font-size: 85px;
    line-height: 120%;

}

h2 {
    font-size: 60px;
    line-height: 115%;
}

h3 {
    font-size: 30px;
    line-height: 32px;
}

h4 {
    font-size: 20px;
    line-height: 32px;
    color: var(--white-100);
}

h5 {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 5.4px;
    color: var(--white-100);
    padding-bottom: 16px;
    position: relative;
    text-transform: uppercase;
}


p,
.pm {
    color: var(--white-100);
    font-size: 16px;
    line-height: 32px;
    font-family: Poppins-Regular;
}

.ps {
    font-size: 16px;
    color: var(--white-100);
    font-style: normal;
    line-height: 32px;
    font-family: Poppins-Regular;

}

.gradient-text {
    background-image: var(--primary-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h5::after {
    content: " ";
    display: inline-block;
    width: 72px;
    height: 2px;
    background: var(--primary-gradient);
    position: relative;
    top: -4px;
    left: 16px;
}

.line-before::before {
    content: " ";
    display: inline-block;
    width: 72px;
    height: 2px;
    background: var(--primary-gradient);
    position: relative;
    top: -4px;
    right: 16px;
}

.pl {
    font-family: Poppins-Regular;
    font-size: 18px;
}

@media screen and (max-width: 1600px) {
    h1 {
        font-size: 72px;
        line-height: 120%;

    }

    h2 {
        font-size: 56px;
        line-height: 115%;
    }

    h3 {
        font-size: 24px;
        line-height: 30px;
    }

}


@media screen and (max-width: 1400px) {
    h1 {
        font-size: 64px;
        line-height: 120%;

    }

    h2 {
        font-size: 48px;
        line-height: 115%;
    }

    h3 {
        font-size: 24px;
        line-height: 30px;
    }

    .contain {
        padding: 0px 104px;
    }
}



@media screen and (max-width: 1200px) {
    h1 {
        font-size: 64px;
        line-height: 120%;

    }

    h2 {
        font-size: 40px;
        line-height: 115%;
    }

    h3 {
        font-size: 24px;
        line-height: 26px;
    }

    .contain {
        padding: 0px 96px;
    }

}

@media screen and (max-width: 999px) {
    h1 {
        font-size: 56px;
        line-height: 120%;

    }

    h2 {
        font-size: 40px;
        line-height: 115%;
    }

    h3 {
        font-size: 24px;
        line-height: 26px;
    }

    .contain {
        padding: 0px 56px;
    }


}


@media screen and (max-width: 600px) {

    .contain {
        padding: 0px 24px;
    }

    h1 {
        font-size: 40px;
        line-height: 120%;

    }

    h2 {
        font-size: 32px;
        line-height: 115%;
    }


    h3 {
        font-size: 22px;
        line-height: 26px;
    }

}


// button

/* button  */

.button {
    width: 184px;
    transform: translate(-0%);
    margin-top: 32px;
}

//white outlined

a.animated-button.white-outlined {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;
    padding-top: 16px;
    display: block;
    position: relative;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.253);
    transition: all 0.5s cubic-bezier(.42, 0, .58, 1);
    height: 60px;
    border-radius: 0px;
    overflow: hidden;
    text-align: center;
    font-weight: 500;
}

a.animated-button.white-outlined:hover {
    /* color: #000 !important; */
    background-color: transparent;
    text-shadow: nthree;
    text-decoration: none;
}

a.animated-button.white-outlined:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
}

a.animated-button.white-outlined:before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 60px;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: var(--primary-color);
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

//Button Gradiant Filled

a.animated-button.gradient-filled {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;
    padding-top: 16px;
    display: block;
    position: relative;
    background-color: var(--primary-red);
    transition: all 0.5s cubic-bezier(.42, 0, .58, 1);
    height: 60px;
    border-radius: 0px;
    overflow: hidden;
    text-align: center;
}

a.animated-button.gradient-filled:hover {
    /* color: #000 !important; */
    background-color: transparent;
    text-shadow: nthree;
}

a.animated-button.gradient-filled:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
}

a.animated-button.gradient-filled:before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 60px;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: var(--primary-gradient);
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}