<app-header></app-header>
<section class="page-hero-section">
    <div class="page-hero-image">
        <img src="../../assets/projects/Shahrukhz Danube/shahrukhz-danube-f-img-3.jpg" alt="">
    </div>
    <div class="hero-content text-shadow">
        <!-- <h3>- Projects -</h3> -->
        <h2>Shahrukhz Danube </h2>
    </div>
    <app-scrolldown class="h-scrolldown page-scrolldown" (click)="scroller()"></app-scrolldown>
</section>
<app-scrolldown class="h-scrolldown page-scrolldown" (click)="scroller()"></app-scrolldown>

<section class="d-section-2 contain">

    <div class="project-details-content">
        <h3>Shahrukhz Danube </h3>
        <p class="ps"> <span class="properties-developer"> <img src="../../assets/projects/properties-developer.svg"
                    alt=""></span>Danube Properties</p>
        <p class="ps"> <span class="properties-location"> <img src="../../assets/projects/Properties-location.svg"
                    alt=""></span>Dubai</p>
        <p class="ps"> <span class="properties-type"> <img src="../../assets/projects/properties-type.svg"
                    alt=""></span>Commercial</p>
        <p class="para">
            Rising on the iconic Sheikh Zayed Road, this premium
            55-storey office tower offers unmatched visibility
            and seamless access in the heart of Dubai.
            <br> Inspired by the self-made journey of Shahrukh Khan,
            Shahrukhz is a tribute to those who script their
            own destiny — a place for business leaders, founders and
            visionaries to build more than companies, to build empires.
            <br>With world-class amenities curated for productivity,
            prestige and wellbeing…every detail elevates the way
            you work.
        </p>
    </div>

    <div class="image-container">
        <img src="../../assets/projects/Shahrukhz Danube thumbnail.jpg" alt="">
    </div>
</section>

<section class="d-section-3">

</section>

<app-footer></app-footer>