<app-header></app-header>
<section class="page-hero-section">
    <div class="page-hero-image">
        <img src="../../assets/projects/Shahrukhz Danube/shahrukhz-danube-f-img-3.jpg" alt="">
    </div>
    <div class="hero-content text-shadow">
        <!-- <h3>- Projects -</h3> -->
        <h2>Shahrukhz Danube </h2>
    </div>
    <app-scrolldown class="h-scrolldown page-scrolldown" (click)="scroller()"></app-scrolldown>
</section>

<section class="d-section-2 contain" id="d-section-2">

    <div class="project-details-content">
        <h3>Shahrukhz Danube </h3>
        <p class="ps"> <span class="properties-developer"> <img src="../../assets/projects/properties-developer.svg"
                    alt=""></span>Danube Properties</p>
        <p class="ps"> <span class="properties-location"> <img src="../../assets/projects/Properties-location.svg"
                    alt=""></span>Dubai</p>
        <p class="ps"> <span class="properties-type"> <img src="../../assets/projects/properties-type.svg"
                    alt=""></span>Commercial</p>
        <p class="para">
            Rising on the iconic Sheikh Zayed Road, this premium
            55-storey office tower offers unmatched visibility
            and seamless access in the heart of Dubai.
            <br> Inspired by the self-made journey of Shahrukh Khan,
            Shahrukhz is a tribute to those who script their
            own destiny — a place for business leaders, founders and
            visionaries to build more than companies, to build empires.
            <br>With world-class amenities curated for productivity,
            prestige and wellbeing…every detail elevates the way
            you work.
        </p>
    </div>

    <div class="image-container">
        <img src="../../assets/projects/Shahrukhz Danube thumbnail.jpg" alt="">
    </div>
</section>

<!-- Project Images Section -->

<Section class="p-image-section">
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_01.jpg" alt="">
    </div>
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_02.jpg" alt="">
    </div>
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_03.jpg" alt="">
    </div>
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_04.jpg" alt="">
    </div>
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_05.jpg" alt="">
    </div>
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_06.jpg" alt="">
    </div>
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_07.jpg" alt="">
    </div>
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_08.jpg" alt="">
    </div>
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_09.jpg" alt="">
    </div>
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_10.jpg" alt="">
    </div>
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_11.jpg" alt="">
    </div>
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_12.jpg" alt="">
    </div>
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_13.jpg" alt="">
    </div>
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_14.jpg" alt="">
    </div>
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_15.jpg" alt="">
    </div>
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_16.jpg" alt="">
    </div>
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_17.jpg" alt="">
    </div>
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_18.jpg" alt="">
    </div>
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_19.jpg" alt="">
    </div>
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_20.jpg" alt="">
    </div>
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_21.jpg" alt="">
    </div>
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_22.jpg" alt="">
    </div>
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_23.jpg" alt="">
    </div>
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_24.jpg" alt="">
    </div>
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_25.jpg" alt="">
    </div>
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_26.jpg" alt="">
    </div>
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_27.jpg" alt="">
    </div>
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_28.jpg" alt="">
    </div>
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_29.jpg" alt="">
    </div>
    <div class="p-image-container">
        <img src="../../assets/projects/Shahrukhz Danube/SHARUKHZ Brochure - FINAL_Page_30.jpg" alt="">
    </div>

</Section>


<!-- Map Section -->

<section class="project-map-section contain">
    <div class="map-container"><img src="../../assets/projects/map.png" alt=""></div>

</section>

<!-- Frequently Asked Question -->

<Section class="faq-section contain">
    <div class="section-content">
        <h5 class="section-heading">More Information</h5>
        <h2>Frequently Asked Questions</h2>

    </div>

    <div class="faq-q-a-section">

        <div class="accordion">
            <div class="accordion-item">
                <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">Why is the moon
                        sometimes out during the day?</span><span class="icon" aria-hidden="true"></span></button>
                <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium
                        viverra suspendisse potenti.</p>
                </div>
            </div>
            <div class="accordion-item">
                <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">Why is the sky
                        blue?</span><span class="icon" aria-hidden="true"></span></button>
                <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium
                        viverra suspendisse potenti.</p>
                </div>
            </div>
            <div class="accordion-item">
                <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title">Will we ever
                        discover aliens?</span><span class="icon" aria-hidden="true"></span></button>
                <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium
                        viverra suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium
                        viverra suspendisse potenti.</p>
                </div>
            </div>
            <div class="accordion-item">
                <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">How much does the
                        Earth weigh?</span><span class="icon" aria-hidden="true"></span></button>
                <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium
                        viverra suspendisse potenti.</p>
                </div>
            </div>
            <div class="accordion-item">
                <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">How do airplanes
                        stay up?</span><span class="icon" aria-hidden="true"></span></button>
                <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium
                        viverra suspendisse potenti.</p>
                </div>
            </div>
        </div>
    </div>
</Section>

<!-- Jusy a section for now -->
<section class="d-section-3">

</section>

<!-- project nav section -->

<Section class="project-navigation">
    <div class="project-footer">
        <div class="projects-footer-container">
            <a href="/projects">
                <div class="p-all-nav" title="to all projects">
                    <div class="p-nav-icon">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </a>

            <div class="p-f-p-container">
                <a to="/projects/cricbuzz-app-redesign">
                    <div class="project-previous">
                        <div class="overlay"></div>
                        <span class="p-text">
                            <h2>Previous Project</h2>
                        </span>

                        <span class="np_details">
                            <p class="np_heading">Fortune Landmark</p>
                            <p class="np_sub-heading">Vapi, Fortune Group</p>
                        </span>
                        <img src="../../assets/projects/Fortune Landmark Thumbnail.jpg" alt="">
                    </div>
                </a>
            </div>

            <div class="p-f-n-container">
                <a to="/projects/feeding-trends">
                    <div class="project-next">
                        <div class="overlay"></div>
                        <span class="p-text">
                            <h2>Next Project</h2>
                        </span>

                        <span class="np_details">
                            <p class="np_heading">Breeze By Danube</p>
                            <p class="np_sub-heading">Dubai, Danube Properties</p>
                        </span>
                        <img src="../../assets/projects/Breeze by Danube thumbnail.jpg" alt="">
                    </div>
                </a>
            </div>
        </div>
    </div>

</Section>


<!-- page Nav section -->
<!-- <section class="h-section-nav-block">
    <div class="about-nav-card">
        <div class="bg-img"><img src="../../../assets/contact/contact-us-hero-image.jpg" alt=""></div>
        <div class="content">
            <h5>CONTACT</h5>
            <h2>Get in Touch</h2>
            <p>Ready to bring your vision to life? Reach out to us now let's collaborate to
                bring your vision to life! We are just a email or call away.</p>
            <div class="button"> <a href="/contact" class="animated-button white-outlined">Contact Us</a> </div>
        </div>
    </div>

    <div class="about-nav-card">
        <div class="bg-img"><img src="../../../assets/about/about-hero-image.jpg" alt=""></div>
        <div class="content">
            <h5>ABOUT US</h5>
            <h2>Get to Know Us</h2>
            <p>Ready for a sneak peek into the wild world of Dee Creations? We're all about passion,
                innovation, and limitless creativity. </p>
            <div class="button"> <a href="/about" class="animated-button white-outlined">ABOUT US</a> </div>
        </div>
    </div>

</section> -->
<!-- <app-footer></app-footer> -->