.d-section-2{
    position: relative;
    width: 100%;
    background-color: var(--golden-60);
    display: flex;
    flex-direction: row;
    padding-top: 120px;
    padding-bottom: 120px;

    .image-container{
        position: relative;
        width: 40%;
        max-width: 600px;

        img{
            position: relative;
            object-fit: cover;
            width: 100%;
        }
    }

    .project-details-content{
        padding: 0px 32px 0px 0px;
        width: 60%;
        
        h2{
            padding: 0px 0px 0px 0px;
        }

        p{
            padding: 8px 0px 0px 0px;
        }

        .para{
            padding: 16px 0px 0px 0px;
            white-space: pre-line;
        }

        span{
            padding: 0px 8px 0px 0px;
        }

    }
}

.enq-brochure-button{
      width: 100%;
    display: flex;
    gap: 20px;

    .button{
    width: 100%;
    max-width: 220px;
  }
  
}

.download-brochure{
  span{
    // position: relative;
    // z-index: 1;
    // top: 50%;
    // transform: translate(-50%);
  }
}



// Images Section

.p-image-section{
    width: 100%;
    height: auto;
    background-color: var(--golden-60);

    .p-image-container{
        width: 100%;
        height: 100%;
        position: relative;
        padding-bottom: 8px;


        img{
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }
}

.d-section-3{
    width: 100%;
    height: 40vh;
    background-color: var(--golden-100);
}

// Project Map Section
.project-map-section{
    width: 100%;
    position: relative;
    min-height: 70vh;
    background-color: var(--white-100);
 
    .map-container{
        width: 100%;
        height: 70vh;
        padding: 20px 0px 20px 0px;
        

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// Project FAQ Section

.faq-section{
    width: 100%;
    height: auto;
    padding-top: 120px;
    padding-bottom: 100px;
    background-color: var(--golden-60);
}

.accordion .accordion-item {
  border-bottom: 1px solid var(--white-90);
}
.accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid var(--white-70);
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 16px 32px 16px 0px;
  color: var(--black-70);
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color:  var(--primary-red);
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: var(--primary-red);
  border: 1px solid var(--primary-red);
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded=true] {
  color: var(--primary-red);
}
.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: fit-content;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}

// Project Enquiry


.d-p-enquiry-section{
  width: 100%;
  position: relative;
  height: auto;
  background-color: var(--golden-100);
}

.d-p-enquiry-container{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  padding-top: 100px;
  gap: 32px;
    padding-bottom: 100px;

  .section-content{
    color: var(--white-100);
    // white-space: nowrap;
    // padding-right: 40px;
  }
}

.right-container {
    background-color: var(--golden-100);
    padding: 0px 0px 0px 0px;
    // border: 1px solid var(--white-90);
    border-radius: 6px;
}

// form
label {
    color: var(--white-100);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    height: 54px;
    margin: 5px 0;
    border: 1px solid var(--white-100);
    box-sizing: border-box;
    margin: 8px 0px 24px 0px;
    font-size: 16px;
    background-color: #ffffff0f;
    color: white;
    ;
}


input[type="submit"] {
    min-width: 208px;
    height: 60px;
    border: 2px solid var(--black-80) !important;
    background-color: var(--white-100);
    transition: all 0.5s cubic-bezier(.42, 0, .58, 1);
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 17px;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    background: var(--primary-red);
    color: var(--white-100);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::placeholder{
  color: var(--white-80);
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 999px){
.d-p-enquiry-container{
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 100px;
  gap: 0px;
    padding-bottom: 100px;
}
}


// Project Navigation

.project-navigation{
    width: 100%;
    position: relative;
}

.p-all-nav {
  top: 26%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: border 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.p-nav-icon {
  width: 35px;
  height: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px;
  transition: all 0.35s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  margin: 26px;
}

.p-nav-icon > div {
  background-color: rgb(133, 133, 133);
}

.p-all-nav:hover > .p-nav-icon {
  width: 45px;
  height: 45px;
  grid-gap: 7px;
}

.p-all-nav:hover {
  border: solid 1px white;
}
.p-all-nav:hover > .p-nav-icon > div {
  background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 800px) {
  .p-all-nav {
    top: 51%;
  }
}
@media screen and (max-width: 600px) {

  .np_heading {
    font-size: 22px;
    margin-bottom: 6px;
  }
}



.p-text {
  position: absolute;
  width: 100%;
  align-items: center;
  top: 25%;
  text-align: center;
  transition: all 0.85s cubic-bezier(0.19, 1, 0.22, 1);
}

.project-previous:hover .p-text {
  letter-spacing: 3px;
}

.project-next:hover .p-text {
  letter-spacing: 3px;
}

.np_details {
  position: absolute;
  top: 55%;
  width: 100%;

  text-align: center;
  color: var(--white-100);

}

.np_heading {
  font-size: 29px;
  margin-bottom: 10px;
}

.np_sub-heading {
  font-size: 16px;
  margin-top: 0px;
}

.text-slide-in {
//   font-family: circular-bold;
}

.footer-m-heading {
//   font-family: circular-bold;
}


.projects-footer-container {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  height: 80vh;
  display: grid;
  grid-template-areas: 'a b'
    'a b';
  background-color: aqua;
  transition: height 0.95s cubic-bezier(0.475, 0.425, 0, 0.995);
  position: relative;
}

.projects-footer-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 2;
  background-color: var(--golden-60);
  display: block;
  will-change: transform;
  -webkit-transition: -webkit-transform 0.65s;
  transition: -webkit-transform 0.65s;
  transition: transform 0.65s;
  transition: transform 0.65s, -webkit-transform 0.65s;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.projects-footer-container:hover:before {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.project-previous {
  /* cursor: url('/cursor-previous.png'), auto; */
  cursor: url("/assets/cp.svg"), auto;
  position: relative;

}

.project-next {
  /* background-color: rgb(61, 61, 61); */
  /* cursor: url('/cursor-next.png'), auto; */
  cursor: url("/assets/cn.svg"), auto;
  position: relative;

}

.p-text>h2 {
  color: white;
}

.project-previous>img {
  width: 100%;
  object-fit: cover;
  height: 80vh;

}

.project-next>img {
  width: 100%;
  object-fit: cover;
  height: 80vh;

}

.overlay {
  background-color: black;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

.p-f-n-container {
  grid-area: b;


}

.p-f-p-container {
  grid-area: a;

}



@media screen and (max-width: 800px) {
  .projects-footer-container {
    height: 80vh;
    display: grid;
    grid-template-areas: 'b b'
      'a a';

  }

  .projects-footer-container::before {
    content: none;
  }

  .project-previous>img {
    width: 100%;
    object-fit: cover;
    height: 40vh;
  }

  .project-next>img {
    width: 100%;
    object-fit: cover;
    height: 40vh;
  }

  .p-text {
    top: 24%;
  }

  .np_details {
    top: 40%;
  }
  .np_heading {
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 24px;
  }

}

@media screen and (max-width:999px) {
    .d-section-2{
    flex-direction: column;
    padding-top: 80px;
        .project-details-content{
            padding: 0px 0px 0px 0px;
    width: 100%;

    h2{
        padding: 0px 0px 0px 0px;
    }
        }

        .image-container{
            width: 100%;
    max-width: none;
        }
}

.enq-brochure-button{
  padding: 0px 0px 32px 0px;

  .button{
    width: 100%;
    max-width: 220px;
  }
}
    
}


