.d-section-2{
    position: relative;
    width: 100%;
    background-color: var(--golden-60);
    display: flex;
    flex-direction: row;
    padding-top: 120px;
    padding-bottom: 120px;

    .image-container{
        position: relative;
        width: 50%;
        max-width: 600px;

        img{
            position: relative;
            object-fit: cover;
            width: 100%;
        }
    }

    .project-details-content{
        padding: 0px 32px 0px 0px;
        width: 50%;
        
        h3{
            padding: 16px 0px 8px 0px;
        }

        p{
            padding: 8px 0px 0px 0px;
        }

        .para{
            padding: 16px 0px 0px 0px;
        }

        span{
            padding: 0px 8px 0px 0px;
        }

    }
}


.d-section-3{
    width: 100%;
    height: 40vh;
    background-color: var(--golden-100);
}

// Project Map Section
.project-map-section{
    width: 100%;
    position: relative;
    min-height: 70vh;
    background-color: var(--white-100);
 
    .map-container{
        width: 100%;
        height: 70vh;
        padding: 20px 0px 20px 0px;
        

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// Project FAQ Section

.faq-section{
    width: 100%;
    height: auto;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--golden-60);
}

// Project Navigation

.project-navigation{
    width: 100%;
    position: relative;
}

.p-all-nav {
  top: 26%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: border 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.p-nav-icon {
  width: 35px;
  height: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px;
  transition: all 0.35s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  margin: 26px;
}

.p-nav-icon > div {
  background-color: rgb(133, 133, 133);
}

.p-all-nav:hover > .p-nav-icon {
  width: 45px;
  height: 45px;
  grid-gap: 7px;
}

.p-all-nav:hover {
  border: solid 1px white;
}
.p-all-nav:hover > .p-nav-icon > div {
  background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 800px) {
  .p-all-nav {
    top: 51%;
  }
}
@media screen and (max-width: 600px) {

  .np_heading {
    font-size: 22px;
    margin-bottom: 6px;
  }
}



.p-text {
  position: absolute;
  width: 100%;
  align-items: center;
  top: 15%;
  text-align: center;
  transition: all 0.85s cubic-bezier(0.19, 1, 0.22, 1);
}

.project-previous:hover .p-text {
  letter-spacing: 3px;
}

.project-next:hover .p-text {
  letter-spacing: 3px;
}

.np_details {
  position: absolute;
  top: 46%;
  width: 100%;

  text-align: center;
  color: var(--white-100);

}

.np_heading {
  font-size: 29px;
  margin-bottom: 10px;
}

.np_sub-heading {
  font-size: 16px;
  margin-top: 0px;
}

.text-slide-in {
//   font-family: circular-bold;
}

.footer-m-heading {
//   font-family: circular-bold;
}


.projects-footer-container {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  height: 80vh;
  display: grid;
  grid-template-areas: 'a b'
    'a b';
  background-color: aqua;
  transition: height 0.95s cubic-bezier(0.475, 0.425, 0, 0.995);
  position: relative;
}

.projects-footer-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 2;
  background-color: var(--golden-100);
  display: block;
  will-change: transform;
  -webkit-transition: -webkit-transform 0.65s;
  transition: -webkit-transform 0.65s;
  transition: transform 0.65s;
  transition: transform 0.65s, -webkit-transform 0.65s;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.projects-footer-container:hover:before {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.project-previous {
  /* cursor: url('/cursor-previous.png'), auto; */
  cursor: url("/assets/cp.svg"), auto;
  position: relative;

}

.project-next {
  /* background-color: rgb(61, 61, 61); */
  /* cursor: url('/cursor-next.png'), auto; */
  cursor: url("/assets/cn.svg"), auto;
  position: relative;

}

.p-text>h3 {
  color: white;
}

.project-previous>img {
  width: 100%;
  object-fit: cover;
  height: 80vh;

}

.project-next>img {
  width: 100%;
  object-fit: cover;
  height: 80vh;

}

.overlay {
  background-color: black;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

.p-f-n-container {
  grid-area: b;


}

.p-f-p-container {
  grid-area: a;

}



@media screen and (max-width: 800px) {
  .projects-footer-container {
    height: 80vh;
    display: grid;
    grid-template-areas: 'b b'
      'a a';

  }

  .projects-footer-container::before {
    content: none;
  }

  .project-previous>img {
    width: 100%;
    object-fit: cover;
    height: 40vh;
  }

  .project-next>img {
    width: 100%;
    object-fit: cover;
    height: 40vh;
  }

  .p-text {
    top: 24%;
  }

  .np_details {
    top: 40%;
  }

}

